name: Master CI

on:
  push:
    branches:
    - main
    tags-ignore:
    - '**'
    paths-ignore:
    - "README.md"
    - "LICENCE"
    - ".gitignore"
  pull_request:
    branches:
    - main
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to deploy from"
        required: true
        default: "main"

  # Trigger after public PR approved for CI
  pull_request_target:
    types: [labeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  qa:
    name: Run QA workflow
    uses: ./.github/workflows/qa.yaml

  ci:
    name: Run internal CI checks
    needs: qa
    uses: ./.github/workflows/ci.yaml

  downstream:
    name: Run downstream CI checks
    needs: qa
    uses: ./.github/workflows/downstream-ci.yaml

  downstream-hpc:
    name: Run downstream CI HPC checks
    needs: qa
    uses: ./.github/workflows/downstream-ci-hpc.yaml
